VoxelGI.VC.VC.opendb
VoxelGI.VC.db
VoxelGI/Debug/
VoxelGI/Release/
VoxelGI/x64/Debug/
VoxelGI/x64/Release/
x64/Release/
Release/
.vs/
x64/
VoxelGI/images/raydifferentialtests/ray_differental_report.aux
VoxelGI/images/raydifferentialtests/ray_differental_report.synctex.gz
VoxelGI/images/raydifferentialtests/ray_differental_report.pdf
VoxelGI/report/VoxelGI.bbl
VoxelGI/report/VoxelGI.synctex.gz
VoxelGI/report/VoxelGI.blg
VoxelGI/report/VoxelGI.aux
VoxelGI/report/VoxelGI.run.xml
VoxelGI/report/VoxelGI.bcf
